include pysgems/algo/*
include pysgems/base/*
include pysgems/dis/*
include pysgems/io/*
include pysgems/plot/*
include pysgems/sgems/*
include pysgems/utils/*

include pysgems/examples/*.py

include pysgems/algorithms/*.xml
include pysgems/examples/datasets/demo_kriging/*.eas
include pysgems/examples/datasets/demo_sgsim/*.eas
include pysgems/examples/datasets/demo_sgsim3D/*.eas
include pysgems/examples/datasets/demo_indicator_kriging/*
include pysgems/script_templates/*.py